#page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

#page .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin: 0;
}
