html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.pageWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  background: white;
  order: 1;
  flex-basis: 100px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 100;
  justify-content: center;

  border-bottom: 1px solid rgb(221, 221, 221);
  height: 80px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu a {
  text-align: right;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

#menu a img {
  width: 130%;
}

@media (max-width: 768px) {
  nav {
    background: red;
  }
  #menu {
    display: block;
  }

  #menu a {
    text-align: center;
  }

  #menu a img {
    width: 50%;
  }
}

.contentWrapper {
  order: 2;
  flex: 1;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  justify-content: center;
}

footer {
  background: white;
  order: 3;
  flex-basis: 48px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .row div {
  text-align: center;
}

.row {
  margin: 0;
}
