// content container reusable component
.contentContainer {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  padding-top: $header-height;
  .content {
    padding: 0 58px;
    margin: 70px;
    h5 {
      font-size: 19px;
      font-family: $font--demi;
    }
    p {
      font-size: 15px;
      font-family: $font--reg;
      
      span {
        color: red;
        margin-right:10px;
      }
    }
  }
}