// content container reusable component
.contentContainer {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  padding-top: $header-height;
  .content {
    padding: 0 58px;
    margin: 40px 80px;
    h5 {
      font-size: 19px;
      font-family: $font--demi;
    }
    p {
      font-size: 15px;
      font-family: $font--reg;
      span {
        color: red;
        margin-right: 10px;
      }
    }
    
    .row {
      .col-sm-4 {
        .subheader {
          font-family: $font--med; 
        }
      }
    }
  }
}