// variables 

// -- fonts 
$font--ultraLight: "Avenir Next UltraLight"; 
$font--reg: "Avenir Next Regular"; 
$font--med: "Avenir Next Medium"; 
$font--bold: "Avenir Next Bold"; 
$font--demi: "Avenir Next Demi"; 
$font--heavy: "Avenir Next Heavy"; 
