// variables 

// -- fonts 
//$font--ultraLight: "Avenir Next UltraLight"; 
//$font--reg: "Avenir Next Regular"; 
//$font--med: "Avenir Next Medium"; 
//$font--bold: "Avenir Next Bold"; 
//$font--demi: "Avenir Next Demi"; 
//$font--heavy: "Avenir Next Heavy"; 

$font--ultraLight: "Montserrat"; 
$font--reg: "Montserrat"; 
$font--med: "Montserrat"; 
$font--bold: "Montserrat"; 
$font--demi: "Montserrat"; 
$font--heavy:"Montserrat"; 
// constants 
$header-height: 80px; 

$footer-height: 48px; 