footer {
  width: 100%;
  position: relative;
  bottom: $footer-height/2;
  height: $footer-height;
  background: white;
  border: 1px solid #ddd;
  padding-top: 25px;
  opacity: 0;
  display: none;
  //  z-index: 2;
  .row {
    #flag {
      float: right;
      p,
      img {
        float: right;
      }
      p {
        display: inline-block;
        margin-right: 10px;
      }
      img {
        width: 80px;
        margin-top: -11px;
      }
    }
    div {
      text-align: center;
      padding: 0 30px;
      p {
        font-family: $font--reg;
        letter-spacing: 0.5px;
      }
    }
  }
}