#header-image {
  background-image: url("../img/banner-22.jpeg");
  width: 100%;
  height: 750px;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

#header-overlay { 
  width: 100%; 
  height: 750px; 
  position: absolute; 
  left: 0; 
  background: rgba( 0, 0, 0, 0.4 )
}

.navbar {
  position: relative;
}