#header-image {
  background-image: url("../img/banner-22.jpeg");
  width: 100%;
  height: 750px;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {
  position: relative;
}