#landing {
  //  background: black;
  background-image: url("../img/banner-overlay.jpg");
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1322px;
  background-position: center -100px;
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
  }
  #cta {
    position: relative;
    div {
      padding-top: 80px;
      text-align: center;
      border: 5px solid white;
      height: 300px;
      h4 {
        color: white;
        font-size: 32px;
        font-family: $font--demi;
        letter-spacing: 2px;
      }
    }
  }
  #scrollButton {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font--demi;
    font-size: 15px;
    color: red;
    width: 80px;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    top: 95%;
    z-index: 5;
    left: 0;
    right: 0;
    text-align: center;
  }
  /*Down pointing*/
  //#header-overlay { 
  //  width: 100%; 
  //  height: 750px; 
  //  position: absolute; 
  //  left: 0; 
  //  top: 0
  //  background: rgba( 0, 0, 0, 0.4 )
  //}
  //.navbar {
  //  position: relative;
  //}
}


/* Large Devices, Wide Screens */


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1322px) {
  #landing {
    background-size: 1480px;
    #scrollButton {
      top: 96.5%;
    }
  }
}