#landing {
  //  background: black;
  background-image: url("../img/banner-overlay.jpg");
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: 1860px;
  background-position: center -100px;
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
  }
  #cta {
    position: relative;
    div {
      padding-top: 80px;
      text-align: center;
      border: 5px solid white;
      height: 300px;
      h4 {
        color: white;
        font-size: 32px;
        font-family: $font--demi;
        letter-spacing: 2px;
      }
    }
  }
  #scrollButton {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $font--demi;
    font-size: 15px;
    color: red;
    width: 80px;
    height: 30px;
    position: absolute;
    margin: 0 auto;
    top: 95%;
    z-index: 5;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
    &:hover {
      cursor: pointer;
    }
    img {
      text-align: center;
      width: 50%;
    }
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  #landing #cta div h4 {
    font-size: 22px;
    line-height: 50px;
  }
  #landing #cta div {
    padding-top: 70px
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1322px) {
  #landing {
    background-size: 2000px;
    #scrollButton {
      top: 96.5%;
    }
  }
}