#team {
  #bios {
    .content {
      padding: 0;
      margin: 20px 40px;
      .row {
        margin-bottom: 20px;
        text-align: left;
        p {
          font-size: 13px;
        }
        img {
          height: 170px;
        }
        .img {
          width: 127.5px;
          height: 170px;
          background: grey;
        }
      }
    }
  }
}