#welcome {
  width: 100%;
  position: relative;
  height: 100%;
  margin: 0;
  padding-top: $header-height;
  .content {
    padding: 0 58px;
    margin: 70px;
    h5 {
      font-size: 22px;
      font-family: $font--demi;
    }
    p {
      font-size: 19px;
      font-family: $font--reg;
    }
  }
}