#welcome {
  width: 100%;
  position: relative;
  height: 50em;
  border: 1px solid green;
  margin: 0;
  margin-top: 40em;
  
  .content {
    padding: 0 150px; 
    margin: 70px; 
    h5 {
      font-size: 22px; 
      font-family: $font--demi;  
    }
    
    p {
      font-size: 19px; 
      font-family: $font--reg;
    }
  }
}