footer {
  width: 100%;
  font-size: 12px;
  padding: 16px 0;
  position: fixed;
  bottom: 0;
}

.home footer {
  background: transparent;
  color: white;
}

.tutoring footer .row a {
  color: #999;
  text-decoration: none;
}

.tutoring footer {
  background: white;
  border: 1px solid #ddd;
  color: #999;
}

footer .col-sm-3 {
  text-align: center;
}

footer .row #flag {
  float: right;
}
footer .row #flag p,
footer .row #flag img {
  float: right;
}

footer .row #flag p {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.87;
}

footer .row #flag img {
  width: 72px;
  margin-top: -11px;
}
footer .row div {
  text-align: center;
  padding: 0 30px;
}

footer .row div p {
  font-family: "Montserrat";
  letter-spacing: 0.5px;
  opacity: 0.87;
}
