@font-face {
  font-family: 'Avenir Next UltraLight';
  src: url('../fonts/AvenirNext-UltraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/AvenirNext-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Medium';
  src: url('../fonts/AvenirNextLTPro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url('../fonts/AvenirNextLTPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('../fonts/AvenirNextLTPro-Demi.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Heavy';
  src: url('../fonts/AvenirNextLTPro-Heavy.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}